.card{
    background: rgb(93, 229, 93);
    border-radius: 14px;
    width: 400px;
    padding: 50px;
    margin: 50px auto;
}
.title{
    margin-top: 80px;
}
.btn{
    margin-bottom:80px;
    width: 150px;
    background: #fff;
    border: none;
    border-radius: 15px;
    height: 30px;
}