.card{
    border: 1px solid rgb(210, 204, 204);
    border-radius: 7px;
    width: 400px;
    margin: 50px auto;
}
.padding{
    padding: 20px;
}
img{
    width: 100px;
    border-radius: 65px;
    margin-left: 45px;
    margin-bottom: 10px;
}
.footer{
    border-top: 1px solid rgb(210, 204, 204);
}
.footer{
    color: blue;
}